<section class="dark:bg-gray-900">

  <div class="mx-auto px-4 2xl:px-0">
    <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center pb-4">
      <h2 class="text-2xl font-semibold text-gray-900 dark:text-white sm:text-2xl">
        Lista de solicitudes finalizadas
      </h2>
      <form [formGroup]="idSolicitudForm" class="w-96" >
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">
          Search
        </label>
        @if (idSolicitudForm.get("id")?.invalid && idSolicitudForm.get("id")?.touched) {
          @if (idSolicitudForm.get("id")?.hasError("required")) {
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">Este campo es requerido</p>
          }
          @if (idSolicitudForm.get("id")?.hasError("numeroMayorACeroValidator")) {
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">
              {{ idSolicitudForm.get("id")?.errors?.["numeroMayorACeroValidator"] }}
            </p>
          }
        }
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
          </div>
          <input formControlName="id" type="number" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                 placeholder="Nro de solicitud..." required />
          <button type="submit" (click)="botonBuscarSolicitudById()" [disabled]="idSolicitudForm.invalid"
                  class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Buscar
          </button>

        </div>
      </form>
    </div>
    @if (listSolicitudFinal != null && listSolicitudFinal.length > 0) {
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <!-- Cabera de la tabla -->
          <thead class="text-xs text-gray-700 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Id
            </th>
            <th scope="col" class="px-6 py-3">
              Cite
            </th>
            <th scope="col" class="px-6 py-3">
              Fecha
            </th>
            <th scope="col" class="px-6 py-3">
              Autor
            </th>
            <th scope="col" class="px-6 py-3">
              Cargo
            </th>
            <th scope="col" class="px-6 py-3">
              Unidad
            </th>
            <th scope="col" class="px-6 py-3">
              Accion
            </th>
          </tr>
          </thead>

          <!-- Contenido de la tabla -->
          <tbody>
            @for (solicitudFinalizada of listSolicitudFinal; track solicitudFinalizada.idSolicitud) {
              <tr
                class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ solicitudFinalizada.idSolicitud }}
                </th>
                <td class="px-6 py-4">
                  {{ solicitudFinalizada.cite }}
                </td>
                <td class="px-6 py-4">
                  {{ solicitudFinalizada.fecha }}
                </td>
                <td class="px-6 py-4">
                  {{ solicitudFinalizada.nomCompleto }}
                </td>
                <td class="px-6 py-4">
                  {{ solicitudFinalizada.nomCargo }}
                </td>
                <td class="px-6 py-4">
                  {{ solicitudFinalizada.nombreUnidad }}
                </td>
                <td class="px-6 py-4">
                  <button type="submit" (click)="botonDescargoSolicitudPDF(solicitudFinalizada.idAutorizacion)"
                          class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4"/>
                    </svg>
                    Descargo de Solicitud PDF
                  </button>
                </td>
              </tr>
            }
          </tbody>

        </table>
      </div>

      <!-- Opciones de paginacion -->
      <nav class="mt-6 flex items-center justify-center sm:mt-8" aria-label="Page navigation example">
        <ul class="flex h-8 items-center -space-x-px text-sm">

          <li>
            <a (click)="goToPreviousPage()"
               class="ms-0 flex h-8 items-center justify-center rounded-s-lg border border-e-0 border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              <span class="sr-only">Anterior</span>
              <svg class="h-4 w-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" d="m15 19-7-7 7-7"/>
              </svg>
            </a>
          </li>

          @for (element of listaConsecutiva; track element) {
            @if (pageProperties.currentPage != element) {
              <li>
                <button (click)="goToPage(element)"
                        class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                  {{ element + 1 }}
                </button>
              </li>
            } @else {
              <li>
                <button (click)="goToPage(element)"
                        class="z-10 flex items-center justify-center px-3 h-8 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">
                  {{ element + 1 }}
                </button>
              </li>
            }
          }

          <li>
            <a (click)="goToNextPage()"
               class="flex h-8 items-center justify-center rounded-e-lg border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              <span class="sr-only">Siguiente</span>
              <svg class="h-4 w-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" d="m9 5 7 7-7 7"/>
              </svg>
            </a>
          </li>

        </ul>
      </nav>
    } @else {
      <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          <div class="mx-auto max-w-screen-sm text-center">
            <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">No hay solicitudes finalizadas.</p>
            <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Las solicitudes se van a mostrar de forma automatica o actualize la pagina.</p>
          </div>
        </div>
      </section>
    }
  </div>

</section>
