<div class="relative grid grid-cols-5 gap-4 py-6">
  <!-- Nombre del documento -->
  <div class="col-span-2">
    <div class="relative z-0 w-full mb-5 group">
      <input formControlName="nombreDocumento" type="text" name="floating_first_name" id="nombreDocID"
             class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
             placeholder=" " required/>
      <label for="nombreDocID"
             class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Nombre del documento
      </label>
    </div>
  </div>

  <!-- Nro. Pag. -->
  <div class="col-span-1 flex items-center justify-end">
    <div class="relative z-0 w-full mb-5 group">
      <input formControlName="nroPaginas" type="number" name="floating_first_name" id="nroPadID"
             class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
             placeholder=" " required/>
      <label for="nroPadID"
             class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Nro. Pag.
      </label>
    </div>
  </div>

  <!-- Cant. de copias -->
  <div class="col-span-1 flex items-center justify-end">
    <div class="relative z-0 w-full mb-5 group">
      <input formControlName="nroCopias" type="number" name="floating_first_name" id="cantCopiasID"
             class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
             placeholder=" " required/>
      <label for="cantCopiasID"
             class="peer-focus:fo
                nt-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Cant. de copias
      </label>
    </div>
  </div>

  <!-- Botón -->
  <div class="col-span-5 sm:col-span-1 sm:justify-self-end">
    <button (click)="botonDocumentoInsertado()"
            class="w-full sm:w-auto rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">
      Registrar
    </button>
  </div>
</div>
