<div class="flex flex-wrap items-center gap-y-4 py-6">
    <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">ID:</dt>
        <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">
            <a href="#" class="hover:underline">#100</a>
        </dd>
    </dl>

    <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Nro Copias:</dt>
        <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">250</dd>
    </dl>

    <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Tipo Documento:</dt>
        <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">Resoluciones</dd>
    </dl>

    <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Nro Paginas:</dt>
        <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">10</dd>
    </dl>

    <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Uni. Solicitante:</dt>
        <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">Uni Limites</dd>
    </dl>


    <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Estado:</dt>
        <dd
            class="me-2 mt-1.5 inline-flex items-center rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300">
            <svg class="me-1 h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 11.917 9.724 16.5 19 7.5" />
            </svg>
            Aprobado
        </dd>

    </dl>


    <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Proceso de solicitud:</dt>
        <dd class="mt-1.5 text-base font-semibold text-green-600 dark:text-green-400">COMPLETADO</dd>
        <dd class="mt-1.5 text-base font-semibold text-red-600 dark:text-red-500">NO INCIADO</dd>
    </dl>


    <div class="w-full grid sm:grid-cols-2 lg:flex lg:w-64 lg:items-center lg:justify-end gap-4">

        <!--Si el proceso de la solicitud dice NO INICIADO entonces mostrar el boton de COMPLETADO,
        Caso contrario, si el proceso de solicitud dice COMPLETADO, entonces NO MOSTRAR BOTON-->
        <button type="button"
            class="w-full rounded-lg border border-blue-700 px-3 py-2 text-center text-sm font-medium text-blue-700 hover:bg-blue-700 hover:text-white focus:outline-none focus:ring-4 focus:ring-red-300 dark:border-blue-500 dark:text-blue-500 dark:hover:bg-blue-600 dark:hover:text-white dark:focus:ring-blue-900 lg:w-auto">
            Proceso completado
        </button>

    </div>
</div>