<form [formGroup]="solicitudForm" class="dark:bg-gray-900">

  <div class="relative z-0 w-full mb-5 group">
    <span class="self-center text-4xl font-semibold whitespace-nowrap dark:text-white">
      Nueva solicitud
    </span>
  </div>

  <div class="grid grid-cols-2 gap-4 xl:grid-cols-5">
    <div class="relative z-0 w-full mb-5 group">
      <input formControlName="cite" type="text" id="citeID"
             class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
             placeholder=" " required/>
      <label for="citeID"
             class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        CITE:
      </label>
    </div>

    <div class="relative z-0 w-full mb-5 group col-span-2">
      <input formControlName="descripcion" type="text" id="citeIDd"
             class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
             placeholder=" " required/>
      <label for="citeID"
             class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Descripcion breve:
      </label>
    </div>

    <div class="relative z-0 w-full mb-5 group flex items-center gap-2">
      <input formControlName="nroDeDocumento" type="number" id="nroDocID"
             class="block py-2.5 px-2 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
             placeholder=" " required/>
      <label for="nroDocID"
             class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Numero de documentos
      </label>
    </div>

    @if (!estadoNroDocumentos) {
      <div class="relative z-0 w-full mb-5 group flex items-center gap-2">
        <button (click)="botonSetNumeroDeCopias()"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
          Listo
        </button>
      </div>
    }
  </div>

  @if (estadoNroDocumentos) {
    <div class="py-2">
      <br>
      <p class="text-xl font-bold text-gray-600 dark:text-slate-400">
        Registre los documentos
      </p>
      <br>
      <div formArrayName="documentos">
        @for (documento of documentos.controls; track $index; let i = $index) {
          <div [formGroupName]="i">
            <p class="text-xl font-bold text-gray-900 dark:text-white">
              Documento {{ i + 1 }}
            </p>
            <div class="gap-4 pb-3 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-8">
              <!-- Nombre del documento -->
              <div class="xl:col-span-2 p-5">
                <div class="relative z-0 w-full group">
                  <input formControlName="nombreDocumento" type="text"
                         class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                         placeholder=" " required/>
                  <label
                    class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                    Nombre del documento
                  </label>
                </div>
              </div>

              <!-- Nro. Pag. -->
              <div class="p-5">
                <div class="relative z-0 w-full group">
                  <input formControlName="nroPaginas" type="number"
                         class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                         placeholder=" " required/>
                  <label
                    class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                    Nro. Pag.
                  </label>
                </div>
              </div>

              <!-- Cant. de copias -->
              <div class="p-5">
                <div class="relative z-0 w-full group">
                  <input formControlName="nroCopias" type="number"
                         class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                         placeholder=" " required/>
                  <label
                    class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                    Cantidad
                  </label>
                </div>
              </div>

              <!-- Tamaño de página -->
              <form class="max-w-sm mx-auto">
                <label for="selectTamano" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Tamano</label>
                <select formControlName="tamanoPagina" id="selectTamano"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  @if (listaTamano != null && listaTamano.length > 0) {
                    @for (tamano of listaTamano; track tamano) {
                      <option value="{{tamano}}">{{ tamano }}</option>
                    }
                  }
                </select>
              </form>

              <!-- Anverso Reverso -->
              <form class="max-w-sm mx-auto">
                <label for="selectAnver" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Anver/Reverso</label>
                <select formControlName="anversoReverso" id="selectAnver"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  @if (listaAnverRever != null && listaAnverRever.length > 0) {
                    @for (anver of listaAnverRever; track anver) {
                      <option value="{{anver}}">{{ anver }}</option>
                    }
                  }
                </select>
              </form>

              <!-- Color fotocopia -->
              <form class="max-w-sm mx-auto">
                <label for="selectColor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Color</label>
                <select formControlName="colorFotocopia" id="selectColor"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  @if (listaColor != null && listaColor.length > 0) {
                    @for (color of listaColor; track color) {
                      <option value="{{color}}">{{ color }}</option>
                    }
                  }
                </select>
              </form>

            </div>
          </div>
          <br>
        }
      </div>
    </div>
    <br>
    <div class="relative z-0 w-full mb-5 group">
      <button (click)="botonNuevaSolicitud()"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Enviar
      </button>
    </div>
  }

</form>
