<div class="flex flex-wrap items-center gap-y-4 py-6">
    <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">ID:</dt>
        <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">
            <a href="#" class="hover:underline">{{solicitud.idSolicitud}}</a>
        </dd>
    </dl>

    <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Nro Copias:</dt>
        <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">{{solicitud.nroDeCopias}}</dd>
    </dl>

    <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Tipo Documento:</dt>
        <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">{{solicitud.tipoDeDocumento}}</dd>
    </dl>

    <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Nro Paginas:</dt>
        <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">{{solicitud.nroDePaginas}}</dd>
    </dl>

    <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Uni. Solicitante:</dt>
        <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">{{solicitud.nombreUnidad}}</dd>
    </dl>

    <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Estado:</dt>
        <dd class="me-2 mt-1.5 inline-flex items-center rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300">
            <svg class="me-1 h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5" />
            </svg>
            {{solicitud.estadoByResponsable}}
        </dd>  
    </dl>
    
</div>
